
<div class=" flex justify-between px-64 items-center  bg-[#2c2c2f] py-4 mx-auto w-[80%] rounded-b-3xl overflow-hidden text-stone-50 shadow-gray-400  p-6 shadow-[4px_5px_3px_1px] ">

  <h3 class="text-3xl font-medium  "><a href="/">Resipe</a></h3>
 
  <div class="flex items-center gap-4">
    <form action="/" method="post" >
      <input
        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block lg:w-64 md:w-36 p-2.5  dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500 outline-none"
        placeholder="Search Your Recipes..."
        type="search"
        name="search"
      />
    </form>
    <img src="/assets/icon.png" class="w-[50px] h-[50px]" alt="" />
  </div>

</div>

