<%- layout('layouts/boilerplate') %>

<div class="grid place-content-center min-h-[80vh] items-center">
  <h2>New Recipe</h2>

  
  <form action="/recipe" method="post" class="flex flex-col gap-4 mt-4" >
    <div>
      <label for="name">Name:</label>
      <input
      name="recipe[name]"
        type="text"
        id="name"
        class="rounded-md border-[2px] border-gray-200 outline-none border-solid focus:ring-2 ring-sky-200"
      />
    </div>
    <div>
      <label for="Ingredients">Ingredients:</label>
      <input
      name="recipe[ingredients]"
        type="text"
        id="Ingredients"
        class="rounded-md border-[2px] border-gray-200 outline-none border-solid focus:ring-2 ring-sky-200"
      />
  </div>
    <div>
      <label for="Instructions">Instructions:</label>
      <input
      name="recipe[instructions]"
        type="text"
        id="Instructions"
        class="rounded-md border-[2px] border-gray-200 outline-none border-solid focus:ring-2 ring-sky-200"
      />
    </div>
    <div>
      <label for="cookingTime">Cooking Time:</label>
      <input
      name="recipe[cookingTime]"
        type="text"
        id="cookingTime"
        class="rounded-md border-[2px] border-gray-200 outline-none border-solid focus:ring-2 ring-sky-200"
      />
    </div>
    <div>
      <label for="Image">Image:</label>
      <input
      name="recipe[image]"
        type="text"
        id="Image"
        class="rounded-md border-[2px] border-gray-200 outline-none border-solid focus:ring-2 ring-sky-200"
      />
    </div>
    <div>
      <label for="tags">Tags:</label>
      <input
      name="recipe[tags]"
        type="text"
        id="tags"
        class="rounded-md border-[2px] border-gray-200 outline-none border-solid focus:ring-2 ring-sky-200"
      />
    </div>
    <div>
      <label for="source">Source:</label>
      <input
      name="recipe[source]"
        type="text"
        id="source"
        class="rounded-md border-[2px] border-gray-200 outline-none border-solid focus:ring-2 ring-sky-200"
      />
    </div>
    <button class="bg-green-600 ">Submit</button>
  </form>


</div>
